/* COLORS
Background: 04AD3C
Lighter: 1DE660
Darker: 02531D
 */
 body{
   background: #B2FFB3;
 }
.gameBoard{

  margin: auto;
  
}
#title{
  font-family: 'Bungee', cursive;
  text-align: center;
  
  transition: font-size 2s;
  transition: padding-left 2s;
  transition: letter-spacing 2s;
  
  margin:0px;
  transition: color 1s;
  color: white;
}
table{
  border-collapse: collapse;
  border-radius:30%;
}

.cell{
  transition: background 1s;
  background: #04AD3C;
  border-radius:30%;
  border: 1px;
}
.cell:hover{
  background: #1DE660;
}

/* COLORS
when white player clicks
 */
.white{
  
  background: white;
}
.white:hover{
  background: white;
}
/* COLORS
when black player clicks
 */
.black{
  background: black;
}
.black:hover{
  background: black;
}

#title .gameBoard{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.possible{
  background: #02531D;
}